"*":
  "atom-ide-ui":
    "atom-ide-datatip":
      datatipInteractedWithDebounceDelay: 1
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    use: {}
  "auto-detect-indentation": {}
  core:
    disabledPackages: [
      "api-workbench"
      "goto-definition"
      "linter"
      "language-clojure"
      "language-csharp"
      "language-coffee-script"
      "language-c"
      "language-go"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-sass"
      "language-toml"
      "elm-navigator"
      "visual-indent"
      "resize-indent"
      "elmjutsu"
      "elm-lens"
      "haskell-ghc-mod"
      "language-pug"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "Hasklig-Medium"
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
  "elm-format":
    binary: "/Users/mario/.local/bin/elm-format-atom"
  elmjutsu:
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/var/folders/kq/xl7p09mj7w3cy403_kfb8y9w0000gn/T/elmjutsu5688452MSW8vaP10g"
    globalAutocompleteEnabled: true
  "exception-reporting":
    userId: "10a85c99-a453-6723-103f-51722f743240"
  "haskell-ghc-mod":
    alwaysInteractiveCheck: false
    cabalSandbox: false
    debug: true
  "ide-haskell":
    autoHideOutput: true
    expressionTypeInterval: 500
    onCursorMove: "Hide Tooltip"
    onSavePrettify: true
    stylishHaskellPath: "haskell-format"
  "ide-haskell-repl":
    defaultRepl: "stack"
  "language-elm":
    autocompleteEnabled: false
  "letter-spacing": {}
  linter: {}
  "linter-elm-make": {}
  "linter-ui-default":
    panelHeight: 360
  "markdown-preview":
    openPreviewInSplitPane: false
    useGitHubStyle: true
  "one-dark-ui": {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    extendedSearchNames: [
      "**/*.elm"
    ]
    groupPaletteColors: "by file"
    sourceNames: [
      "**/*.elm"
    ]
  tabs:
    alwaysShowTabBar: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
