"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  core:
    disabledPackages: [
      "line-ending-selector"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontFamily: "Monaco"
    fontSize: 15
  "language-elm":
    autocompleteEnabled: false
  "line-ending-selector":
    defaultLineEnding: "LF"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
